# Python
__pycache__/
*.pyc
venv/
.env
db.sqlite3

# Node
node_modules/
.npm
.DS_Store

# Frontend build (Uncomment to ignore if building on server, but we keep it for PythonAnywhere)
# frontend/dist/
